{{ form_start(form) }}

<div class="new-quack-card">
    {{ form_row(form.content, {
        label: false
    }) }}

    {{ form_row(form.tags) }}

    {{ form_row(form.image, {
        label: false
    }) }}

    <button class="btn btn-outline-success" style="height: 39px">{{ button_label|default('Publish') }}</button>

</div>
{{ form_end(form) }}
