{% extends 'base.html.twig' %}

{% block title %}Quack index{% endblock %}

{% block body %}
    {% if app.user %}
        {{ include('quack/_form.html.twig') }}
    {% endif %}
    {% for quack in quacks %}
        <!-- Card -->
        <div class="card promoting-card">
            <!-- Card head -->
            <div class="card-body d-flex flex-row">
                <!-- Avatar -->
                <a href="{{ path('duck_show', {'id': quack.author.id }) }}">
                    <img src="/uploads/images/ducks/{{ quack.author.fileName }}" class="rounded-circle mr-3"
                         height="60px" width="60px" alt="avatar">
                </a>
                <!-- Content -->
                <div class="card-top-text">
                    <!-- Title -->
                    <h4 class="card-title font-weight-bold mb-2">{{ quack.author.duckName }}</h4>
                    <!-- Subtitle -->
                    <p class="card-text"><i
                                class="far fa-clock pr-2"></i>{{ quack.createdAt ? quack.createdAt|ago : '' }}
                    </p>
                </div>
            </div>
            <!-- Card content -->
            <div class="card-body">
                <div class="collapse-content">
                    <!-- Text -->
                    <div class="row citation">
                        <p class="col-1"></p>
                        <p class="card-text col-10">{{ quack.content }}</p>
                        {% if quack.fileName %}
                            <img src="/uploads/images/quacks/{{ quack.fileName }}" class="quackPicture col-12"
                                 height="auto" width="100%" alt="quackPicture">
                        {% endif %}
                    </div>
                    <div class="row p20">
                        {% for tag in quack.tags %}
                            <div class="tags col-1">
                                {{ tag }}
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Buttons -->
                    <div class="container">
                        <div class="row">
                            {% if app.user %}
                                <a href="{{ path('quack_show', { 'id': quack.id }) }}" class="btn btn-outline-success float-left col-2"
                                   style="height: 39px">Quack Back</a>
                                {% if quack.author != app.user.quacks.owner %}
                                    <div class="col-1"></div>
                                {% endif %}
                                {% if quack.author == app.user.quacks.owner %}
                                    <a href="{{ path('quack_edit', { 'id': quack.id }) }}"><i
                                                class="fas fa-feather col-1"
                                                style="height: 35px; width: 89px"></i></a>
                                {% endif %}
                                <div class="col-3" style="height: 35px"></div>
                                <div class="col-3" style="height: 35px"></div>
                                <i class="far fa-comment-dots badge-wrapper float-right p-1 my-1 col-1"
                                   style="height: 35px; text-align: right" data-toggle="modal"
                                   data-target="#modal{{ quack.id }}">
                                    <span class='badge badge-secondary'>{{ quack.comments | length }}</span>
                                </i>
                                <i class="fas fa-share-alt text-muted float-right p-1 my-1 col-1" data-toggle="tooltip"
                                   data-placement="top" title="Share this Quack"
                                   style="height: 35px; text-align: right"></i>
                                <i class="fas fa-heart text-muted float-right p-1 my-1 col-1" data-toggle="tooltip"
                                   data-placement="top" title="I Quack it" style="height: 35px; text-align: right"></i>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card -->
        <!-- Comments -->
        <div class="modal fade bd-example-modal-lg" id="modal{{ quack.id }}" role="dialog"
             aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="row">
                        <h5 class="col-2">Comments!!!</h5>
                        <a href="{{ path('quack_show', {'id': quack.id }) }}">
                            <i class="fas fa-plus-circle col-auto"></i>
                        </a>
                    </div>
                    {% for comment in quack.comments | sort((b,a)=>a.createdAt <=> b.createdAt) %}
                        <p class="comment-created-at">{{ comment.createdAt|ago }} :</p>
                        <div class="row">
                            <a href="{{ path('duck_show', {'id': comment.author.id }) }}">
                                <img src="/uploads/images/ducks/{{ comment.author.fileName }}"
                                     class="rounded-circle mr-3 col-auto comment-modal-avatar"
                                     height="35px" width="35px" alt="avatar">
                            </a>
                            <p class="col-auto comment-modal-duckname">{{ comment.author.duckName }}</p>
                            <p class="comment-modal-content col-auto">{{ comment.content }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Comments -->

    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endfor %}
{% endblock %}

