{% extends 'base.html.twig' %}

{% block title %}Quack index{% endblock %}

{% block body %}

    <h1 class="quackTitle">Quack Quack Mofo!!!</h1>
    {% if app.user %}
        {{ include('quack/_form.html.twig') }}
    {% endif %}
    {% for quack in quacks %}
        <!-- Card -->
        <div class="card promoting-card">
            <!-- Card head -->
            <div class="card-body d-flex flex-row">
                <!-- Avatar -->
                <img src="/uploads/images/ducks/{{ quack.author.fileName }}" class="rounded-circle mr-3"
                     height="100px" width="100px" alt="avatar">
                <!-- Content -->
                <div class="card-top-text">
                    <!-- Title -->
                    <h4 class="card-title font-weight-bold mb-2">{{ quack.author.duckName }}</h4>
                    <!-- Subtitle -->
                    <p class="card-text"><i
                                class="far fa-clock pr-2"></i>{{ quack.createdAt ? quack.createdAt|date("d.m.Y H:i:s") : '' }}
                    </p>
                </div>
            </div>
            <!-- Card content -->
            <div class="card-body">
                <div class="collapse-content">
                    <!-- Text -->
                    <div class="row citation">
                        <p class="col-1"></p>
                        <p class="card-text col-10">{{ quack.content }}</p>
                        {% if quack.fileName %}
                            <img src="/uploads/images/quacks/{{ quack.fileName }}" class="quackPicture col-12"
                                 height="auto" width="100%" alt="quackPicture">
                        {% endif %}
                    </div>
                    <!-- Buttons -->
                    <div class="container">
                        <div class="row">
                            <a href="{{ path('quack_index') }}" class="btn btn-outline-success float-left col-2"
                               style="height: 39px">Quack
                                Back</a>
                            {% if app.user %}
                                {% if quack.author == app.user.quacks.owner %}
                                    <a href="{{ path('quack_edit', { 'id': quack.id }) }}"><i
                                                class="fas fa-feather col-1"
                                                style="height: 35px"></i></a>
                                {% endif %}
                            {% endif %}
                            <div class="col-3" style="height: 35px"></div>
                            <div class="col-3" style="height: 35px"></div>
                            <i class="far fa-comment-dots float-right p-1 my-1 col-1"
                               style="height: 35px; text-align: right"></i>
                            <i class="fas fa-share-alt text-muted float-right p-1 my-1 col-1" data-toggle="tooltip"
                               data-placement="top" title="Share this Quack"
                               style="height: 35px; text-align: right"></i>
                            <i class="fas fa-heart text-muted float-right p-1 my-1 col-1" data-toggle="tooltip"
                               data-placement="top" title="I Quack it" style="height: 35px; text-align: right"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Card -->
    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endfor %}
{% endblock %}
