{% extends 'base.html.twig' %}

{% block title %}Quack index{% endblock %}

{% block body %}

    <h1 class="quackTitle">Quack Quack Mofo!!!</h1>
        {% for quack in quacks %}
{#            <div class="card" style="width: 18rem;">#}
{#                <img src="http://placehold.it/350x150" class="card-img-top" alt="...">#}
{#                <div class="card-body">#}
{#                    <h5 class="card-title">{{ quack.id }}</h5>#}
{#                    <p class="card-text">{{ quack.content }}</p>#}
{#                    <p class="card-text">{{ quack.createdAt ? quack.createdAt|date('Y-m-d H:i:s') : '' }}</p>#}
{#                    <a href="#" class="btn btn-primary">Go somewhere</a>#}
{#                </div>#}
{#            </div>#}
            <!-- Card -->
            <div class="card promoting-card">
                <!-- Card content -->
                <div class="card-body d-flex flex-row">
                    <!-- Avatar -->
                    <img src="https://i.kym-cdn.com/photos/images/original/001/273/620/02f.jpg" class="rounded-circle mr-3" height="100px" width="100px" alt="avatar">
                    <!-- Content -->
                    <div class="card-top-text">
                        <!-- Title -->
                        <h4 class="card-title font-weight-bold mb-2">{{ quack.id }}</h4>
                        <!-- Subtitle -->
                        <p class="card-text"><i class="far fa-clock pr-2"></i>{{ quack.createdAt ? quack.createdAt|date('Y-m-d H:i:s') : '' }}</p>
                    </div>
                </div>
                <!-- Card content -->
                <div class="card-body">

                    <div class="collapse-content">

                        <!-- Text -->
                        <div class="row citation">
                            <i class="fas fa-feather col-sm-1"></i>
                            <p class="card-text col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex exercitationem ipsa itaque numquam, omnis perspiciatis quia repellat. At culpa cumque debitis dolores expedita, officia perferendis veritatis. Aperiam atque debitis dicta eius eveniet, expedita, fugiat harum maxime nihil non nulla officiis sapiente tempora temporibus tenetur ullam velit voluptas voluptates. Iure, ratione.</p>
                        </div>
                        <!-- Button -->
                        <a href="{{ path('quack_new') }}" class="btn btn-outline-success float-left ml-5 mr-5">Quack Back</a>
                        <i class="far fa-comment-dots ml-5"></i>
                        <i class="fas fa-share-alt text-muted float-right p-1 my-1" data-toggle="tooltip" data-placement="top" title="Share this Quack"></i>
                        <i class="fas fa-heart text-muted float-right p-1 my-1 mr-3" data-toggle="tooltip" data-placement="top" title="I Quack it"></i>
                    </div>

                </div>

            </div>
            <!-- Card -->
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
{% endblock %}
