{% extends 'base.html.twig'%}

{% block title %}Search a Quack{% endblock %}

{% block body %}

    <h1>Your Search</h1>

    <div class="form-group">
        {% form_theme searchForm 'bootstrap_4_layout.html.twig' %}
        {{ form_start(searchForm) }}
        {{ form_row(searchForm.q, {'label': " ", 'attr': {'placeholder': 'What Duck...?'}}) }}
        <button class="btn btn-primary">Search</button>
        {{ form_end(searchForm) }}


        <section id="content">

            {% for foundQuack in foundQuacks %}
                <article>
                    <div class="card border-light mb-3" id="articlesRecents" style="max-width: 25rem;margin:1.5em;">
                        <div class="card-header">

                            <h3>{{ foundQuack.author.duckName }}</h3>

                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ foundQuack.createdAt | date('d/m/Y') }}</h4>
                            <p class="card-text">

                                {{ foundQuack.content | slice(0, 170) | raw }} ...

                            </p>
                        </div>
                    </div>
                </article>
            {% endfor %}

        </section>
    </div>

{% endblock %}