{% extends 'base.html.twig' %}

{% block title %}Quack{% endblock %}

{% block body %}
    <div class="card-body d-flex flex-row">
        <!-- Avatar -->
        <a href="{{ path('duck_show', {'id': quack.author.id }) }}">
            <img src="/uploads/images/ducks/{{ quack.author.fileName }}" class="rounded-circle mr-3"
                 height="60px" width="60px" alt="avatar">
        </a>
        <!-- Content -->
        <div class="card-top-text">
            <!-- Title -->
            <h4 class="card-title font-weight-bold mb-2">{{ quack.author.duckName }}</h4>
            <!-- Subtitle -->
            <p class="card-text"><i
                        class="far fa-clock pr-2"></i>{{ quack.createdAt ? quack.createdAt|ago : '' }}
            </p>
        </div>
    </div>
    <div class="row citation">
        <p class="col-1"></p>
        <p class="card-text col-9">{{ quack.content }}</p>
        {% if quack.fileName %}
            <img src="/uploads/images/quacks/{{ quack.fileName }}" class="quackPicture"
                  alt="quackPicture">
        {% endif %}
    </div>
    {% if app.user == quack.author %}
        <div class="row mt16">
            <a href="{{ path('quack_edit', {'id': quack.id}) }}" class="col-1">
                <button class="btn btn-outline-warning">Edit</button>
            </a>
            {{ include('quack/_delete_form.html.twig') }}
        </div>
    {% endif %}
    <hr>
    {% if app.user %}
        {{ include ('quack/_comment_form.html.twig') }}
    {% endif %}

    {% for comment in quack.comments | sort((b,a)=>a.createdAt <=> b.createdAt) %}
        <p class="comment-created-at">{{ comment.createdAt|ago }} :</p>
        <div class="row mt16">
            <a href="{{ path('duck_show', {'id': comment.author.id }) }}">
                <img src="/uploads/images/ducks/{{ comment.author.fileName }}"
                     class="rounded-circle mr-3 col-auto comment-modal-avatar"
                     height="35px" width="35px" alt="avatar">
            </a>
            <p class="col-auto comment-modal-duckname">{{ comment.author.duckName }}</p>
            <p class="comment-modal-content col-auto">{{ comment.content }}</p>
            {% if (app.user == comment.author) or (app.user == quack.author) or (app.user.roles[0] == "ROLE_MODERATOR")%}
                <a href="{{ path('comment_edit', {'id': comment.id}) }}" style="margin-bottom: 16px; padding-right: 10px"><i
                            class="fas fa-feather yellow-feather"></i>
                </a>
                {{ include ('comment/_delete_form.html.twig') }}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
